

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Sans-Serif;
}


/*  3D containerA

.containerA {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #111;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

.containerA {
	position: relative;
	margin-top: 250px;
	max-width: 700px;
	transform: skewY(-20deg);
}

.containerA .imgBx {
	position: relative;
	width: 100%;
	transform-origin: bottom;
	height: 180px;
	transform: skewX(45deg);
	margin-left: 100px;

}

.containerA .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 180px;
	filter: grayscale(1);
	transition: 0.5s;
}

.containerA .imgBx:hover img:nth-child(3) {
	transform: translate(100px, -100px);
}

.containerA .imgBx:hover img:nth-child(2) {
	transform: translate(50px , -50px);
	opacity: 0.5;
}

.containerA .imgBx:hover img:nth-child(1) {
	transform: translate(0px , 0px);
	opacity: 0.1;
}

.containerA h2 {
	position: relative;
	color: #fff;
	margin-left: 100px;
	font-size: 4em;
}

.containerA .sekw {
	transform-origin: top;
	transform: skewX(45deg);
}

.containerA .skew p {
	color: #fff;
	font-size: 1.2em;
	width: 100%;
	margin-left: 100px;
}

.containerA .skew a {
	position: relative;
	padding: 15px 40px;
	margin-left: 100px;
	display: inline-block;
	background: transparent;
	color: #fff;
	transform-origin: top;
	margin-top: 20px;
	border: 2px solid #fff;
	transform: skewX(45deg);
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 25px;
	transition: 0.5s;
}

.containerA .skew a:hover {
	background: #fff;
	color: #000;
}

@media screen and (max-width:800px) {

	.containerA {
		max-width: 500px;
		margin-top: 150px;
	}

	.containerA .imgBx {
		height: 80px;
		margin-left: 80px;
	}

	.containerA .imgBx img {
		width: 280px;
		height: 80px;
	}

	.containerA h2 {
		font-size: 2em;
		margin-left: 80px;
	}

	.containerA .skew p {
		font-size: 0.6em;
		margin-left: 80px;
		width: 78%;
	}

	.containerA .skew a {
		font-size: 16px;
		padding: 8px 26px;
		margin-left: 80px;
	}

	.containerA .imgBx:hover img:nth-child(3) {
		transform: translate(50px, -50px);
	}

	.containerA .imgBx:hover img:nth-child(2) {
		transform: translate(25px , -25px);
		opacity: 0.5;
	}

	.containerA .imgBx:hover img:nth-child(1) {
		transform: translate(0px , 0px);
		opacity: 0.1;
	}

}

*/


.containerB {
	display: flex;
	justify-content: center;
	align-items:center ;
	background: #ccc;
}

.containerB {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}

.containerB .card {
	position:relative;
	max-width: 300px;
	height: 260px;
	background: #fff;
	margin: 30px -30px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 202px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}

.containerB .card:hover {
	height: 420px;
}

.containerB .card .imgBx {
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 5px;
	z-index: 1;
	border-radius: 10;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.containerB .card .imgBx img {
	max-width: 100%;
	border-radius: 4px;
}

.containerB .card .content {
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.containerB .card:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}

@media screen and (max-width:800px) {
	
	.containerB {
		flex-direction: column;
		overflow-x: hidden !important;
	}
	
	.containerB {
		flex-direction: column;
	}
}

